---
import self from "../assets/home/home-lina.png";
import photobooth from "../assets/home/photobooth.png";
import projects from "../assets/home/projects.png";
import cooking from "../assets/home/cooking.png";
import diary from "../assets/home/diary.png";
import currently from "../assets/home/currently.png";
import contact from "../assets/home/contact.png";
import aboutme from "../assets/home/about-me.png";

const navItems = [
	{ name: " about me ", href: "/about", img: aboutme.src },
	{ name: " projects ", href: "/projects", img: projects.src },
	{ name: " diary ", href: "/diary", img: diary.src },
	// { name: ' cooking ', href: '/cooking', img: cooking.src },
	// { name: ' contact ', href: '/contact', img: contact.src },
];
---

<div id="container" class="min-h-screen">
	<main
		class="min-h-screen flex items-start justify-start lg:pt-20 lg:pr-40 lg:pl-40 pr-20 pl-20"
	>
		<div class="flex flex-col animate-fadeInUp [animation-delay:600ms]">
			<div class="flex">
				<div class="lg:w-3/4">
					<div class="name-section orange">
						<div class="flex flex-col lg:flex-row h-32">
							<div class="name flex items-center">
								<h1 class="instrument-serif">Lina Jin</h1>
							</div>
							<div
								class="flex flex-col ml-8 lg:text-2xl text-4xl h-full justify-center"
							>
								<div class="flex">
									<div class="font-korean">진 陳</div><div
										class="im-fell-italic"
									>
										(jeen) - truth
									</div>
								</div>
								<div class="flex">
									<div class="font-korean">리 梨</div><div
										class="im-fell-italic"
									>
										(lee) - pear blossom, purity and
										elegance
									</div>
								</div>
								<div class="flex">
									<div class="font-korean">나 那</div><div
										class="im-fell-italic"
									>
										(nah) - graceful
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="bio-section">
						<div class="flex">
							<div class="flex flex-col">
								<div
									class="lg:hidden block blue text-5xl instrument-sans-italic w-2/3 pt-80"
								>
									hi, my name is <span class="im-fell-italic"
										>lina!</span>
								</div>
								<div
									class="lg:hidden block blue text-5xl instrument-sans-italic w-2/3 mt-16"
								>
									i am a <span class="im-fell-italic"
										>developer</span
									>, <span class="im-fell-italic">artist</span
									>, <span class="im-fell-italic"
										>data-enthusiast</span
									>, and <span class="im-fell-italic"
										>homecook</span
									> with a <span class="im-fell-italic"
										>HBSc in Computer Science and
										Statistical Sciences</span
									> from the University of Toronto.
								</div>
							</div>
							<div class="lg:w-2/3 lg:flex hidden">
								<img
									src={self.src}
									alt="Lina Jin"
									class="self-image h-auto w-auto"
								/>
							</div>
							<img
								src={photobooth.src}
								alt="Photobooth"
								class="lg:hidden block object-cover pt-50"
							/>
							<div class="flex flex-col text-xl ml-12">
								<div class="hidden lg:block blue pt-16">
									hi, my name is <span class="im-fell-italic"
										>lina!</span
									>
								</div>
								<div class="hidden lg:block blue pt-4">
									i am a <span class="im-fell-italic"
										>developer</span
									>, <span class="im-fell-italic">artist</span
									>, <span class="im-fell-italic"
										>data-enthusiast</span
									>, and <span class="im-fell-italic"
										>homecook</span
									> with a <span class="im-fell-italic"
										>HBSc in Computer Science and
										Statistical Sciences</span
									> from the University of Toronto.
								</div>
								<div class="hidden lg:block blue pt-4">
									welcome to my digital scrapbook of my <span
										class="im-fell-italic">creations</span
									>, <span class="im-fell-italic"
										>stories</span
									>, <span class="im-fell-italic">dreams</span
									>, <span class="im-fell-italic"
										>inspirations</span
									>, and <span class="im-fell-italic"
										>more</span
									>.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hidden lg:flex lg:w-1/4">
					<img
						src={photobooth.src}
						alt="Photobooth"
						class="p-8 object-cover"
					/>
				</div>
			</div>
			<div class="lg:hidden">
				<div class="flex">
					<img src={self.src} alt="Photobooth" class="" />
					<div
						class="lg:hidden blue text-5xl im-fell-italic pt-16 m-6"
					>
						welcome to my digital scrapbook of my <span
							class="im-fell-italic">creations</span
						>, <span class="im-fell-italic">stories</span>, <span
							class="im-fell-italic">dreams</span
						>, <span class="im-fell-italic">inspirations</span>, and <span
							class="im-fell-italic">more</span
						>.
					</div>
				</div>
			</div>
			<div class="lg:flex hidden items-center justify-center">
				{
					navItems.map((item) => (
						<a
							href={item.href}
							class="im-fell-italic orange hover:orange-hover px-3 py-2 rounded-md text-2xl"
						>
							<div class="flex flex-col items-center">
								<img
									src={item.img}
									alt={item.name}
									class=" w-full h-auto transform transition-transform duration-300 hover:rotate-5"
								/>
								<div class="bg-white p-2 rounded-full">
									{item.name}
								</div>
							</div>
						</a>
					))
				}
			</div>
		</div>
	</main>
</div>
